name: Rectransport Bus Checker

on:
  schedule:
    - cron: "0 6-18/2 * * *"  # Every 2 hours from 6 AM to 6 PM
  workflow_dispatch:

jobs:
  run-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          
      - name: Install dependencies
        run: npm init -y
        
      - name: Run checker
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: node check.js
